@import 'tailwindcss';

@theme {
  --color-accent-200: #accbf5;
  --color-accent-600: #0069ce;
  --color-accent-900: #043164;
  --color-accent-950: #0a2444;

  --color-gray-100: #f5f6f8;
  --color-gray-200: #eceef2;
  --color-gray-300: #c0c2c7;
  --color-gray-400: #888b96;
  --color-gray-500: #545861;
  --color-gray-700: #353841;
  --color-gray-800: #24272f;
  --color-gray-900: #17181c;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /*
   * Hotfix:
   * - odstranit po vyřešení problémů s Tailwind 4 Typohraphy pluginem)
   */
  ul {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal;
  }
  /** Hotfix end */
}

.bluesky-embed {
	@apply mx-auto;
}